/*===================================
=            Other style            =
===================================*/
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
/* Валидация форм,чистый Css */
body input:focus:required:invalid,
body textarea:focus:required:invalid {}
body input:required:valid,
body textarea:required:valid {}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
/*=====  End of Other style  ======*/